# talk-mqttclient.service
#
# create this file as:
# sudo nano /lib/systemd/system/talk-mqttclient.service

# after saving, enable with the command:
# sudo systemctl enable talk-mqttclient.service

# You can test if a service is running with:
# sudo systemctl is-active talk-mqttclient.service
[Unit]
Description=Pibot MQTT Script Service
After=mosquitto.service

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/talk.py
Restart=always
[Install]
WantedBy=multi-user.target
